/* Navigation */
.main-nav,
.main-nav__menu-item {
  display: inline-block;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  z-index: 999;
}

.main-nav__menu-item {
  margin: 40px 20px 0 0;
  transition: transform 0.4s;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px;
}

.main-nav__menu-item:last-child {
  margin-right: 20px;
}

.main-nav__menu-item:hover {
  transform: scale(1.3);
}

.main-nav__menu-item-link {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  background-color: white;
  border-radius: 50%;
  padding: 10px 15px;
}
