/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.main-nav,
.main-nav ul li {
  display: inline-block;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
  z-index: 999;
}

.main-nav ul li {
  margin: 40px 20px 0 0;
}

.main-nav ul li:last-child {
  margin-right: 40px;
}

.main-nav ul li a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  background-color: white;
  border-radius: 50%;
  padding: 10px 15px;
}

/* Main */
section {
  height: 100vh;
  position: relative;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box h1 {
  text-transform: uppercase;
  color: yellow;
  font-size: 50px;
}

#yellow .box h1 {
  color: green;
}
